﻿@using UNFV.Presentation.Models.Donacion;
@model DonacionModel
@section Styles {
    <link rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/flatpickr/dist/flatpickr.min.css">
    @*
        <link rel="stylesheet" href="https://unpkg.com/izitoast/dist/css/iziToast.min.css">*@
    <link rel="stylesheet" href="~/vendor/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="~/vueJS/librerias/waitMe-spinner/easy-loading.css" />
    <style>
        .table thead th {
            text-transform: none !important;
        }

        .turned-off {
            background-color: rgba(19,33,68,.1) !important;
            color: #132144 !important
        }

        .turned-off-span {
            color: #132144 !important
        }

        .turned-on {
            color: #fff !important;
            background-color: #002f87 !important;
        }

        .turned-on-span {
            color: #002f87 !important;
        }

        .truncateText {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        [v-cloak] {
            display: none
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }

            .video-container iframe, .video-container object, .video-container iframe embed, .video-container iframe img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
}


<div class="content container-fluid" id="CreateCompleteCategory" v-cloak-render>
    <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Donation"> Donación</a></li>
                <li class="breadcrumb-item active">{{donacionId === 0 ? 'Registrar Donación' : 'Detalle de la Donación'}}</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm p-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center ">
                    <h4 class="m-0">{{donacionId === 0 ? 'Registrar Donación' : 'Detalle de la Donación'}}</h4>
                </div>
            </div>
            <div class="col-sm-auto p-0" v-if="donacionId !== 0">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <h4 class="m-0 text-primary font-weight-bold"> Nro. {{donacionId}}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Body -->
            <div class="modal-body">              
                <div id="miDiv" data="@Model.MontoMinimoDonacion"></div>
                <!-- Step Form -->
                <form class="js-step-form"
                      data-hs-step-form-options='{
                                "progressSelector": "#createProjectStepFormProgress",
                                "stepsSelector": "#createProjectStepFormContent",
                                "endSelector": "#createProjectFinishBtn",
                                "isValidate": false
                      }' data-vv-scope="formCreateSale">
                    <!-- Step -->
                    <ul id="createProjectStepFormProgress" class="js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-7">
                        <li class="step-item">
                            <a class="step-content-wrapper" href="javascript:;">
                                <span class="step-icon step-icon-soft-dark" v-bind:class="'turned-on'">1</span>
                                <div class="step-content">
                                    <span class="step-title" v-bind:class="'turned-on-span'">Datos principales</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div id="createProjectStepFormContent">

                        <div id="createContratante" class="active">

                            <div class="form-group">

                                <div class="row">

                                    @*<div class="col-md-4 col-sm-12">
                                <div class="form-group mb-2">
                                    <label class="input-label">Código estudiante</label>
                                    <input type="text"
                                           class="form-control"
                                           name="codigo"
                                           v-model="codigo"
                                           v-validate="'required'"
                                           v-bind:class="{'is-invalid': errors.has('formCreateClient.address') }" />
                                </div>
                            </div>*@


                                    <div class="col-sm-5">
                                        <label class="input-label">Estudiante</label>
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   name="nombreEstudiante"
                                                   v-model="nombreEstudiante"
                                                   v-validate="'required'"
                                                   style="background-color: #f8fafd;"
                                                   readonly
                                                   v-bind:class="{'is-invalid': errors.has('formCreateSale.nombreEstudiante') }">

                                            <div class="input-group-append" v-if="donacionId === 0">
                                                <a class="btn btn-icon btn-soft-secondary"
                                                   data-toggle="modal"
                                                   data-target="#SearchStudent">
                                                    <i class="tio-more-horizontal"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <span v-show="errors.has('formCreateSale.nombreEstudiante')" class="text-danger text-left">{{errors.first('formCreateSale.nombreEstudiante')}}</span>
                                    </div>

                                </div>

                                <div class="row" v-if="donacionId === 0">
                                    <div class="col-sm-2">
                                        <label class="input-label">N° Solicitud</label>
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   v-model="nrosolicitud">
                                            <div class="input-group-append">
                                                <a class="btn btn-icon btn-soft-secondary"
                                                   data-toggle="modal"
                                                   v-on:click="GetAllSolicitudPendientePaginate(0)">
                                                    <i class="tio-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top:2rem;" v-if="donacionId === 0">
                                    <label class="input-label">Solicitudes pendientes</label>
                                    <div class="col-sm-12">
                                        <br />
                                        <template>
                                            <div class="table-responsive">
                                                <b-table class="table table-hover"
                                                         :fields="columnsTable"
                                                         :items="solicitudList"
                                                         :current-page="1"
                                                         :per-page="perPage">

                                                    <template slot="opciones" slot-scope="row">

                                                        <b-dropdown size="sm"
                                                                    boundary="window"
                                                                    variant="link"
                                                                    toggle-class="text-decoration-none"
                                                                    no-caret>
                                                            <template slot="button-content">
                                                                <i class="tio-settings text-secondary"></i>
                                                            </template>
                                                            <b-dropdown-item class="text-primary"
                                                                             v-on:click="AddSolicitud(row.item)">
                                                                <i class="tio-add"></i>
                                                                <a>Agregar </a>
                                                            </b-dropdown-item>
                                                        </b-dropdown>
                                                    </template>
                                                </b-table>
                                            </div>
                                            <b-row v-if="searching" class="vh-50 text-center" align-h="center">
                                                <div class="text-center text-secondary my-2">
                                                    <b-spinner class="align-middle"></b-spinner>
                                                    <strong>Cargando...</strong>
                                                </div>
                                            </b-row>
                                            <b-row v-if="withoutResults" class="vh-50 text-center" align-h="center">
                                                <div class="text-center text-secondary my-2">
                                                    <strong>No hay resultados</strong>
                                                </div>
                                            </b-row>

                                            <hr class="my-2" />

                                            <b-row class="row justify-content-center justify-content-sm-between align-items-sm-center">

                                                <div class="col-sm mb-2 mb-sm-0">
                                                    <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                                        <span class="mr-2">Mostrar:</span>
                                                        <select id="datatableEntries"
                                                                class="js-select2-custom"
                                                                data-hs-select2-options='{
                                            "minimumResultsForSearch": "Infinity",
                                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                                            "dropdownAutoWidth": true,
                                            "width": true
                                          }'
                                                                v-model="perPage"
                                                                v-select="perPage"
                                                                v-on:change="GetAllSolicitudPaginate()">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                        </select>
                                                        <span class="text-secondary mr-2">registros</span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-auto">
                                                    <div class="d-flex justify-content-center justify-content-sm-end">
                                                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" v-on:change="GetAllSolicitudPendientePaginate">
                                                        </b-pagination>
                                                    </div>
                                                </div>
                                            </b-row>
                                        </template>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top:2rem;">
                                    <label class="input-label">Solicitudes de la donación</label>
                                    <div class="col-sm-12">
                                        <br />
                                        <template>
                                            <div class="table-responsive">
                                                <b-table class="table table-hover"
                                                         :fields="columnsTableDonacion"
                                                         :items="solicitudListAgregadass"
                                                         :current-page="1"
                                                         :per-page="perPage">

                                                    <template slot="Cantidad" slot-scope="row">
                                                        <b-form-input type="number" v-model="row.item.Cantidad" />
                                                    </template>

                                                    <template slot="opciones" slot-scope="row">

                                                        <b-dropdown size="sm"
                                                                    boundary="window"
                                                                    variant="link"
                                                                    toggle-class="text-decoration-none"
                                                                    no-caret>
                                                            <template slot="button-content">
                                                                <i class="tio-settings text-secondary"></i>
                                                            </template>
                                                            <b-dropdown-item class="text-primary"
                                                                             v-if="donacionId === 0"
                                                                             v-on:click="QuitarSolicitud(row.item)">
                                                                <i class="tio-remove-from-trash"></i>
                                                                <a>Quitar </a>
                                                            </b-dropdown-item>
                                                        </b-dropdown>
                                                    </template>
                                                </b-table>
                                            </div>
                                            <b-row v-if="searching" class="vh-50 text-center" align-h="center">
                                                <div class="text-center text-secondary my-2">
                                                    <b-spinner class="align-middle"></b-spinner>
                                                    <strong>Cargando...</strong>
                                                </div>
                                            </b-row>
                                            <b-row v-if="withoutResults" class="vh-50 text-center" align-h="center">
                                                <div class="text-center text-secondary my-2">
                                                    <strong>No hay resultados</strong>
                                                </div>
                                            </b-row>

                                            <hr class="my-2" />

                                            <b-row class="row justify-content-center justify-content-sm-between align-items-sm-center">

                                                <div class="col-sm mb-2 mb-sm-0">
                                                    <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                                        <span class="mr-2">Mostrar:</span>
                                                        <select id="datatableEntries"
                                                                class="js-select2-custom"
                                                                data-hs-select2-options='{
                                            "minimumResultsForSearch": "Infinity",
                                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                                            "dropdownAutoWidth": true,
                                            "width": true
                                          }'
                                                                v-model="perPage"
                                                                v-select="perPage"
                                                                v-on:change="GetAllSolicitudPaginate()">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                        </select>
                                                        <span class="text-secondary mr-2">registros</span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-auto">
                                                    <div class="d-flex justify-content-center justify-content-sm-end">
                                                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" v-on:change="GetAllSolicitudPendientePaginate">
                                                        </b-pagination>
                                                    </div>
                                                </div>
                                            </b-row>
                                        </template>
                                    </div>
                                </div>

                                <div class="row" style=" display: flex; justify-content: end;">

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Total</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="total"
                                                   v-model="total"
                                                   v-validate="'required'"
                                                   readonly
                                                   v-bind:class="{'is-invalid': errors.has('formCreateClient.total') }" />
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div class="d-flex justify-content-end ml-auto" v-if="donacionId === 0">
                                <button id="createProject" type="button" class="btn btn-primary" v-on:click="save">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>
        <advanced-search-student v-on:click="selectStudent" Nombre="SearchStudent" Title="Estudiante"></advanced-search-student>
    </div>
</div>

@section Plugins {
    <script src="~/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <script src="~/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/vueJS/librerias/waitMe-spinner/easy-loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.5/dist/sweetalert2.all.min.js"></script>
    @*
        <script src="https://unpkg.com/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>*@
    <script src="~/vendor/izitoast/js/iziToast.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>

}

@section Scripts {
    <script src="~/js/Components/advanced-Search-Student.js" asp-append-version="true"></script>
    <script src="~/js/Donacion/DonacionDetail.js" asp-append-version="true"></script>
}

@section documentOnReady {



    // initialization date
    $('.js-flatpickr').each(function () {
    $.HSCore.components.HSFlatpickr.init($(this));
    })


    // initialization of step form
    $('.js-step-form').each(function () {
    var stepForm = new HSStepForm($(this), {
    finish: function() {
    $("#createProjectStepFormProgress").hide();
    $("#createProjectStepFormContent").hide();
    $("#createProjectFinishBtn").show();
    }
    }).init();
    });

    // initialization of quick view popover
    $('#newProjectPopover').popover('show');

    $(document).on('click', '#closeNewProjectPopover' , function() {
    $('#newProjectPopover').popover('dispose');
    });


    // initialization select
    $('.js-select2-custom').each(function () {
    var select2 = $.HSCore.components.HSSelect2.init($(this));
    });



}
