﻿@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Styles {
    <link rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://unpkg.com/izitoast/dist/css/iziToast.min.css">*@
    <link rel="stylesheet" href="~/vendor/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="~/vueJS/librerias/waitMe-spinner/easy-loading.css" />
    <style>
        .table thead th {
            text-transform: none !important;
        }

        .table-vigente, .table-vigente > td, .table-vigente > th {
            vertical-align: middle !important;
        }

        .table-suspension, .table-suspension > td, .table-suspension > th {
            background-color: #f2f89f;
            vertical-align: middle !important;
        }

            .table-suspension tbody + tbody, .table-suspension td, .table-suspension th, .table-suspension thead th {
                border-color: #e6f140;
            }

            .table-suspension, .table-suspension > td, .table-suspension > th {
                background-color: #f2f89f;
            }
    </style>
}

<div class="content container-fluid" id="Donacion" v-cloak-render>

    <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item active">Donación</li>
            </ol>
        </nav>
    </div>


    <div class="card">
        <div class="card-header justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm p-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center ">
                    <h4 class="m-0">Mantenimiento de la Donación</h4>
                </div>
            </div>
            <div class="col-sm-auto pr-2">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <button class="btn btn-primary btn-block btn-sm"
                            v-on:click="newDonacion">
                        <i class="tio-add"></i> Registrar Donación
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group mb-2 sm">
                        <label class="input-label mb-1">Fecha de registro</label>
                        <input type="text" id="creationDate" class="js-daterangepicker form-control">
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="form-group mb-2 sm">
                        <label class="input-label"> N° Donación</label>
                        <input type="text" class="form-control" v-model="codigodona">
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group mb-2 sm">
                        <label class="input-label"> Código estudiante</label>
                        <input type="text" class="form-control" v-model="codigoestudiante">
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group mb-2">
                        <label class="input-label"> Estado</label>
                        <select class="custom-select"
                                name="codigoestado"
                                v-model="codigoestado"
                                v-validate="'required'">
                            <option value="">Seleccionar</option>
                            <option v-for="item in estadoList" :value="item.CodigoEstado">
                                {{item.Descripcion}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12" style=" display: flex; justify-content: end;">
                    <div class="form-group mb-2">
                        <button id="BtnBuscarEmpresa" v-on:click="GetAllDonacionPaginate(0)" class="btn btn-primary btn-block">
                            <i class="tio-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-12">
                    <br />
                    <template>
                        <div class="table-responsive">
                            <b-table class="table table-hover"
                                     :fields="columnsTable"
                                     :items="donacionList"
                                     :current-page="1"
                                     :per-page="perPage">
                                <template slot="statusDonation"  slot-scope="row" >
                                    <template>
                                        {{row.item.Estado}}
                                        @*<span class="badge badge-soft-success ml-2"
                                              style="font-size:inherit !important;cursor:pointer">
                                            {{row.item.Estado}}
                                        </span>*@
                                        <span class="badge badge-soft-light ml-2"
                                              style="font-size:inherit !important;cursor:pointer">
                                            <i v-if="row.item.flagHasBoleta == '1'" id="iconPayDone" class="tio-file-text" style="        color: #00c9a7 !important" data-toggle="tooltip" data-placement="right" title="Con Boleta"></i>
                                        </span>
                                    </template>                                    
                                </template>

                                <template slot="opciones" slot-scope="row">

                                    <b-dropdown size="sm"
                                                boundary="window"
                                                variant="link"
                                                toggle-class="text-decoration-none"
                                                no-caret>
                                        <template slot="button-content">
                                            <i class="tio-settings text-secondary"></i>
                                        </template>
                                        <b-dropdown-item class="text-primary" v-on:click="donacionDetail(row.item)">
                                            <i class="tio-search"></i>
                                            <a>Ver detalle </a>
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-if="(row.item.Estado == 'Pendiente' && row.item.flagHasBoleta == '1')"
                                                         v-on:click="ChangeStatusDonacion(row.item,'AP')">
                                            <i class="tio-checkmark-square"></i>
                                            <a>Aprobar </a>
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-if="(row.item.Estado == 'Pendiente')"
                                                         v-on:click="ChangeStatusDonacion(row.item,'RZ')">
                                            <i class="tio-remove-from-trash"></i>
                                            <a>Rechazar</a>
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-if="(row.item.Estado != 'Rechazado')"
                                                         v-on:click="addFileDonacion(row.item)">
                                            <i class="tio-file-add"></i>
                                            Archivos
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-on:click="getDonacionTracking(row.item)">
                                            <i class="tio-document-text-outlined"></i>
                                            Ver historial
                                        </b-dropdown-item>
                                        <b-dropdown-item class="text-primary"
                                                         v-if="(row.item.Estado == 'Pendiente')"
                                                         v-on:click="getPdfDonacionById(row.item)">
                                            <i class="tio-document-text-outlined"></i>
                                            Generar Pre-Acta
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-if="(row.item.Estado == 'Aprobado')"
                                                         v-on:click="getPdfDonacionById(row.item)">
                                            <i class="tio-document-text-outlined"></i>
                                            Generar Acta
                                        </b-dropdown-item>


                                    </b-dropdown>
                                </template>
                            </b-table>
                        </div>
                        <b-row v-if="searching" class="vh-50 text-center" align-h="center">
                            <div class="text-center text-secondary my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Cargando...</strong>
                            </div>
                        </b-row>
                        <b-row v-if="withoutResults" class="vh-50 text-center" align-h="center">
                            <div class="text-center text-secondary my-2">
                                <strong>No hay resultados</strong>
                            </div>
                        </b-row>

                        <hr class="my-2" />

                        <b-row class="row justify-content-center justify-content-sm-between align-items-sm-center">

                            <div class="col-sm mb-2 mb-sm-0">
                                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                    <span class="mr-2">Mostrar:</span>
                                    <select id="datatableEntries"
                                            class="js-select2-custom"
                                            data-hs-select2-options='{
                                            "minimumResultsForSearch": "Infinity",
                                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                                            "dropdownAutoWidth": true,
                                            "width": true
                                          }'
                                            v-model="perPage"
                                            v-select="perPage"
                                            v-on:change="GetAllDonacionPaginate()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                    <span class="text-secondary mr-2">registros</span>
                                </div>
                            </div>

                            <div class="col-sm-auto">
                                <div class="d-flex justify-content-center justify-content-sm-end">
                                    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" v-on:change="GetAllDonacionPaginate">
                                    </b-pagination>
                                </div>
                            </div>
                        </b-row>
                    </template>
                </div>
            </div>
        </div>
    </div>

    <div id="trackingModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm p-0">
                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center ">
                            <h3 class="m-0 text-primary font-weight-bold">Historial</h3>
                        </div>
                    </div>

                    <div class="col-sm-auto p-0" v-if="donacionIdTracking !== 0">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <h4 class="m-0 text-primary font-weight-bold"> Nro. {{donacionIdTracking}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="padding-top: 25px;padding-left: 25px;padding-right: 25px; padding-bottom: 25px;">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <br />
                            <template>
                                <div class="table-responsive">
                                    <b-table class="table table-hover"
                                             :fields="columnsTableTracking"
                                             :items="donacionTrackingList"
                                             :current-page="1"
                                             :per-page="perPageTracking">
                                    </b-table>
                                </div>
                                <b-row v-if="searchingTracking" class="vh-50 text-center" align-h="center">
                                    <div class="text-center text-secondary my-2">
                                        <b-spinner class="align-middle"></b-spinner>
                                        <strong>Cargando...</strong>
                                    </div>
                                </b-row>
                                <b-row v-if="withoutResultsTracking" class="vh-50 text-center" align-h="center">
                                    <div class="text-center text-secondary my-2">
                                        <strong>No hay resultados</strong>
                                    </div>
                                </b-row>

                                <hr class="my-2" />

                                <b-row class="row justify-content-center justify-content-sm-between align-items-sm-center">

                                    <div class="col-sm mb-2 mb-sm-0">
                                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                            <span class="mr-2">Mostrar:</span>
                                            <select id="datatableEntries"
                                                    class="js-select2-custom"
                                                    data-hs-select2-options='{
                                            "minimumResultsForSearch": "Infinity",
                                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                                            "dropdownAutoWidth": true,
                                            "width": true
                                          }'
                                                    v-model="perPageTracking"
                                                    v-select="perPageTracking"
                                                    v-on:change="BtnBuscarTracking()">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                            </select>
                                            <span class="text-secondary mr-2">registros</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-auto">
                                        <div class="d-flex justify-content-center justify-content-sm-end">
                                            <b-pagination :total-rows="totalRowsTracking" :per-page="perPageTracking" v-model="currentPageTracking" v-on:change="BtnBuscarTracking">
                                            </b-pagination>
                                        </div>
                                    </div>


                                </b-row>
                            </template>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" v-on:click="closeTracking">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3 class="m-0 text-primary font-weight-bold">Agregar documentos a la donación Nro. {{donacionIdFile}}</h3>
                    <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" v-on:click="closeFileAdd" data-dismiss="modal" aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                </div>
                <div class="modal-body" style="padding-top: 0px;">
                    <div class="card-body" style="padding-top: 10px;">
                        <div v-cloak-render>
                            <div class="page-header">
                                <!-- Nav Scroller -->
                                <div class="js-nav-scroller hs-nav-scroller-horizontal">
                                    <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                                        <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                                            <i class="tio-chevron-left"></i>
                                        </a>
                                    </span>

                                    <span class="hs-nav-scroller-arrow-next" style="display: none;">
                                        <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                                            <i class="tio-chevron-right"></i>
                                        </a>
                                    </span>

                                    <!-- Nav -->
                                    <ul class="nav nav-tabs page-header-tabs" id="projectsTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="nav-one-eg2-tab" data-toggle="pill" href="#nav-one-eg2" role="tab" aria-controls="nav-one-eg2" aria-selected="true">Nuevos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-two-eg2-tab" data-toggle="pill" href="#nav-two-eg2" role="tab" aria-controls="nav-two-eg2" aria-selected="false">Documentos </a>
                                        </li>
                                    </ul>
                                    <!-- End Nav -->

                                </div>
                                <!-- End Nav Scroller -->
                            </div>

                            <!-- Tab Content -->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="nav-one-eg2" role="tabpanel" aria-labelledby="nav-one-eg2-tab">
                                    <div class="form-group">
                                        <div id="attachFilesLabel" class="js-dropzone dropzone-custom">
                                            <div class="dz-message custom-file-boxed-label">
                                                <img class="avatar avatar-xl avatar-4by3 mb-3" src="~/assets/browse.svg" alt="Image Description">
                                                @*<h5>Buscar archivo</h5>*@

                                                <input type="file" accept="application/pdf, image/jpg, image/png, image/jpeg" id="loadFile" name="filename" class="btn btn-sm btn-white" v-model="valueFile" hidden="hidden">
                                                <button type="button" class="btn btn-primary" id="customInputFile"
                                                        v-on:click="{document.getElementById('loadFile').click()}">
                                                    Seleccionar archivo
                                                </button>
                                            </div>

                                            <div class="form-group">

                                                <div class="row mt-2">
                                                    <div class="col-sm-12">
                                                        <label>Tipo documento</label>

                                                        <select class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                                                data-hs-select2-options='{
                                                                "minimumResultsForSearch": "Infinity"
                                                                }'
                                                                ref="documentTypePreaffiliation"
                                                                id="documentTypePreaffiliation"
                                                                name="documentTypePreaffiliation"
                                                                v-model="documentTypePreaffiliation"
                                                                v-select="documentTypePreaffiliation">
                                                            <option value="1">Boleta de Pago</option>
                                                            <option value="2">Otros</option>
                                                            <option v-for="item in documentTypePreaffiliationListBkp" :value="item.Id">
                                                                {{item.Name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-sm-12">
                                                        <label>Nombre</label>
                                                        <input type="text" class="form-control" value="" v-model="fileName" disabled />
                                                    </div>
                                                </div>
                                                <div class="row mt-2" v-if="flagNumBoleta">
                                                    <div class="col-sm-12">
                                                        <label>N° Boleta</label>
                                                        <input type="text" class="form-control" value="" v-model="fileNumBoleta" />
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-sm-12">
                                                        <label>Nota</label>
                                                        <textarea type="text" rows="2" class="form-control" v-model="fileNote"></textarea>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-sm-12">
                                                    </div>
                                                </div>

                                                <div class="d-flex justify-content-end ml-auto">
                                                    <button type="button" class="btn btn-primary" v-on:click="addFile">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="row mt-2">
                                            <div class="col-sm-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item py-2" v-for="item in filteredFiles" v-bind:value="item.Id" v-bind:key="item.Id">
                                                        <div class="row align-items-center gx-2">
                                                            <div class="col-auto">
                                                                <img class="avatar avatar-xs avatar-4by3" src="~/assets/google-docs.svg" alt="&zwj;">
                                                            </div>

                                                            <div class="col">
                                                                <h5 class="mb-0">
                                                                    <a v-bind:class="item.SourceId != 0 || item.FileBase64 != null ? 'text-primary' : 'text-danger'">
                                                                        {{item.Name}}
                                                                    </a>
                                                                </h5>
                                                                <ul v-if="item.Description !== '' " class="list-inline list-separator small">
                                                                    <li class="list-inline-item">{{item.Description}}{{item.mandatoryDocumentTypeId}}</li>
                                                                </ul>
                                                            </div>

                                                            <div class="col-auto">
                                                                <button type="button"
                                                                        class="btn btn-xs btn-danger"
                                                                        v-on:click="RemoveFile(item.Id)">
                                                                    <i class="tio-delete-outlined"></i>
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="nav-two-eg2" role="tabpanel" aria-labelledby="nav-two-eg2-tab">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item py-2" v-for="item in mandatoryDocumentList" v-bind:value="item.id" :key="item.id">
                                                        <div class="row align-items-center gx-2">
                                                            <div class="col-auto">
                                                                <img class="avatar avatar-xs avatar-4by3" src="~/assets/google-docs.svg" alt="&zwj;">
                                                            </div>

                                                            <div class="col">
                                                                <h5 class="mb-0">
                                                                    <a v-bind:class="item.id != null  ? 'text-primary' : 'text-danger'">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h5>
                                                                <ul v-if="item.Description !== '' " class="list-inline list-separator small">
                                                                    <li class="list-inline-item">{{item.Description}}{{item.mandatoryDocumentTypeId}}</li>
                                                                </ul>
                                                                <ul v-if="item.numBoleta !== '' " class="list-inline list-separator small">
                                                                    <li class="list-inline-item">{{item.numBoleta}}</li>
                                                                </ul>
                                                            </div>
                                                            <button type="button"
                                                                    class="btn btn-xs btn-primary"
                                                                    v-on:click="DownloadFile(item.name,item.rutaArchivo)"
                                                                    v-if="item.id !== 0">
                                                                <i class="tio-download-outlined"></i>
                                                            </button>

                                                            @*<div class="col-auto">
                                                                <button type="button"
                                                                        class="btn btn-xs btn-danger"
                                                                        v-if="item.mandatory == false "
                                                                        v-on:click="RemoveFileDocument(item.id)">
                                                                    <i class="tio-delete-outlined"></i>
                                                                </button>
                                                            </div>*@
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End Tab Content -->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" v-on:click="closeFileAdd">Cerrar</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveFilesAdd">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <advanced-create-plotpreaffiliation v-bind:Data="SaleData"></advanced-create-plotpreaffiliation>
    <placement-change-status v-on:click="GetAllDonacionPaginate" v-bind:Data="SaleData"></placement-change-status>
</div>


@section Plugins {

    <script src="~/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <script src="~/vendor/hs-file-attach/dist/hs-file-attach.js"></script>
    <script src="~/vueJS/librerias/waitMe-spinner/easy-loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.5/dist/sweetalert2.all.min.js"></script>
    @*<script src="https://unpkg.com/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>*@
    <script src="~/vendor/izitoast/js/iziToast.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>
}

@section Scripts {
    <script src="~/js/Donacion/Donacion.js" asp-append-version="true"></script>
}

@section documentOnReady {

    // initialization select
    $('.js-select2-custom').each(function () {
    var select2 = $.HSCore.components.HSSelect2.init($(this));
    });

    // initialization of daterangepicker
    $('.js-daterangepicker').each(function () {
    var d = $.HSCore.components.HSDaterangepicker.init($(this));
    });


    var dateNow = new Date();
    var initDate = new Date(dateNow.getFullYear(), dateNow.getMonth() - 2, 1);
    var endDate = new Date(dateNow.getFullYear(), dateNow.getMonth() + 1, 0);

    $("#creationDate").daterangepicker({
    "startDate": initDate,
    "endDate": endDate,
    locale: {
    format: 'DD/MM/YYYY',
    applyLabel: 'Aplicar',
    cancelLabel: 'Limpiar',
    fromLabel: 'Desde',
    toLabel: 'Hasta',
    customRangeLabel: 'Seleccionar rango',
    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
    'Diciembre'],
    firstDay: 1
    }
    });



    // initialization of step form
    $('.js-step-form').each(function () {
    var stepForm = new HSStepForm($(this), {
    finish: function() {
    $("#createProjectStepFormProgress").hide();
    $("#createProjectStepFormContent").hide();
    $("#createProjectStepSuccessMessage").show();
    }
    }).init();
    });

    // initialization of quick view popover
    $('#newProjectPopover').popover('show');

    $(document).on('click', '#closeNewProjectPopover' , function() {
    $('#newProjectPopover').popover('dispose');
    });

    $('#newRechazoModal').on('show.bs.modal', function() {
    $('#newProjectPopover').popover('dispose');
    });

    // INITIALIZATION OF CUSTOM FILE
    // =======================================================
    $('.js-file-attach').each(function () {
    var customFile = new HSFileAttach($(this)).init();
    });


}
