﻿@section Styles {
<link rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
<link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/vendor/flatpickr/dist/flatpickr.min.css">
    @*
<link rel="stylesheet" href="https://unpkg.com/izitoast/dist/css/iziToast.min.css">*@
<link rel="stylesheet" href="~/vendor/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="~/vueJS/librerias/waitMe-spinner/easy-loading.css" />
<style>
    .table thead th {
        text-transform: none !important;
    }

    .turned-off {
        background-color: rgba(19,33,68,.1) !important;
        color: #132144 !important
    }

    .turned-off-span {
        color: #132144 !important
    }

    .turned-on {
        color: #fff !important;
        background-color: #002f87 !important;
    }

    .turned-on-span {
        color: #002f87 !important;
    }

    .truncateText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    [v-cloak] {
        display: none
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .video-container iframe, .video-container object, .video-container iframe embed, .video-container iframe img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>
}


<div class="content container-fluid" id="CreateCompleteSolicitud" v-cloak-render>
    <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Solicitud"> Solicitud</a></li>
                <li class="breadcrumb-item active">{{solicitudId === 0 ? 'Registrar Solicitud' : 'Detalle de la Solicitud'}}</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm p-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center ">
                    <h4 class="m-0">{{solicitudId === 0 ? 'Registrar Solicitud' : 'Detalle de la Solicitud'}}</h4>
                </div>
            </div>
            <div class="col-sm-auto p-0" v-if="solicitudId !== 0">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <h4 class="m-0 text-primary font-weight-bold"> Nro. {{solicitudId}}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Body -->
            <div class="modal-body">


                <!-- Step Form -->
                <form class="js-step-form"
                      data-hs-step-form-options='{
                                "progressSelector": "#createProjectStepFormProgress",
                                "stepsSelector": "#createProjectStepFormContent",
                                "endSelector": "#createProjectFinishBtn",
                                "isValidate": false
                      }' data-vv-scope="formCreateSolicitud">
                    <!-- Step -->
                    <ul id="createProjectStepFormProgress" class="js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-7">
                        <li class="step-item">
                            <a class="step-content-wrapper" href="javascript:;">
                                <span class="step-icon step-icon-soft-dark" v-bind:class="'turned-on'">1</span>
                                <div class="step-content">
                                    <span class="step-title" v-bind:class="'turned-on-span'">Datos principales</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div id="createProjectStepFormContent">

                        <div id="createContratante" class="active">

                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-4 col-sm-12" v-if="solicitudId === 0">
                                        <div class="form-group mb-2">
                                            <label class="input-label"> Facultad</label>
                                            <select class="custom-select"
                                                    name="codigofacultad"
                                                    v-model="codigofacultad"
                                                    v-validate="'required'">
                                                <option value="">Seleccionar</option>
                                                <option v-for="item in facultadList" :value="item.CodigoFacultad">
                                                    {{item.Descripcion}}
                                                </option>
                                            </select>
                                            <span v-show="errors.has('formCreateSolicitud.codigofacultad')" class="text-danger text-left">{{errors.first('formCreateSolicitud.codigofacultad')}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12" v-if="solicitudId !== 0">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Facultad</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="facultad"
                                                   v-model="facultad"
                                                   v-validate="'required'"
                                                   v-bind:disabled="solicitudId !== 0" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12" v-if="solicitudId !== 0">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Escuela</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="escuela"
                                                   v-model="escuela"
                                                   v-validate="'required'"
                                                   v-bind:disabled="solicitudId !== 0" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12" v-if="solicitudId !== 0">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Área</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="area"
                                                   v-model="area"
                                                   v-validate="'required'"
                                                   v-bind:disabled="solicitudId !== 0" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4" v-if="solicitudId === 0">
                                        <label class="input-label">Escuela</label>
                                        <select class="js-select2-custom"
                                                data-hs-select2-options='{
                                                  "minimumResultsForSearch": "Infinity",
                                                  "placeholder": "Seleccionar",
                                                  "customClass": "custom-select truncateText"
                                                  }'
                                                ref="codigoescuela"
                                                name="codigoescuela"
                                                v-validate="'required'"
                                                v-model="codigoescuela"
                                                v-select="codigoescuela">
                                            <option value="">Seleccionar</option>
                                            <option v-for="item in newEscuelaList" :value="item.CodigoEscuela">
                                                {{item.Descripcion}}
                                            </option>
                                        </select>
                                        <span v-show="errors.has('formCreateSolicitud.codigoescuela')" class="text-danger text-left">{{errors.first('formCreateSolicitud.codigoescuela')}}</span>
                                    </div>

                                    <div class="col-sm-4" v-if="solicitudId === 0">
                                        <label class="input-label">Área</label>
                                        <select class="js-select2-custom"
                                                data-hs-select2-options='{
                                                  "minimumResultsForSearch": "Infinity",
                                                  "placeholder": "Seleccionar",
                                                  "customClass": "custom-select truncateText"
                                                  }'
                                                ref="codigoarea"
                                                name="codigoarea"
                                                v-validate="'required'"
                                                v-model="codigoarea"
                                                v-select="codigoarea">
                                            <option value="">Seleccionar</option>
                                            <option v-for="item in newAreaList" :value="item.CodigoEscuela">
                                                {{item.Descripcion}}
                                            </option>
                                        </select>
                                        <span v-show="errors.has('formCreateSolicitud.codigoarea')" class="text-danger text-left">{{errors.first('formCreateSolicitud.codigoarea')}}</span>
                                    </div>

                                    <div class="col-md-4 col-sm-12" v-if="solicitudId === 0">
                                        <div class="form-group mb-2">
                                            <label class="input-label"> Artículo</label>
                                            <select class="custom-select"
                                                    name="codigoarticulo"
                                                    v-model="codigoarticulo"
                                                    v-validate="'required'"
                                                    v-bind:disabled="solicitudId !== 0">
                                                <option value="">Seleccionar</option>
                                                <option v-for="item in articuloList" :value="item.CodigoArticulo">
                                                    {{item.Descripcion}}
                                                </option>
                                            </select>
                                            <span v-show="errors.has('formCreateSolicitud.codigoarticulo')" class="text-danger text-left">{{errors.first('formCreateSolicitud.codigoarticulo')}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12" v-if="solicitudId !== 0">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Articulo</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="articulo"
                                                   v-model="articulo"
                                                   v-validate="'required'"
                                                   v-bind:disabled="solicitudId !== 0" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Cantidad</label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="cantidad"
                                                   v-model="cantidad"
                                                   v-validate="'required'"
                                                   v-bind:disabled="solicitudId !== 0"
                                                   v-bind:class="{'is-invalid': errors.has('formCreateSolicitud.cantidad') }" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group mb-2">
                                            <label class="input-label">Valor aproximado</label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="valor"
                                                   v-model="valor"
                                                   v-validate="'required'"
                                                   v-bind:disabled="solicitudId !== 0"
                                                   v-bind:class="{'is-invalid': errors.has('formCreateSolicitud.valor') }" />
                                        </div>
                                    </div>

                                </div>
                             
                            </div>

                            <div class="d-flex justify-content-end ml-auto" v-if="solicitudId == 0">
                                <button id="createProject" type="button" class="btn btn-primary" v-on:click="save">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>



</div>

@section Plugins {
<script src="~/vendor/select2/dist/js/select2.full.min.js"></script>
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
<script src="~/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="~/vueJS/librerias/waitMe-spinner/easy-loading.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.5/dist/sweetalert2.all.min.js"></script>
    @*
<script src="https://unpkg.com/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>*@
<script src="~/vendor/izitoast/js/iziToast.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>

}

@section Scripts {
<script src="~/js/Solicitud/SolicitudDetail.js" asp-append-version="true"></script>
}

@section documentOnReady {



    // initialization date
    $('.js-flatpickr').each(function () {
    $.HSCore.components.HSFlatpickr.init($(this));
    })


    // initialization of step form
    $('.js-step-form').each(function () {
    var stepForm = new HSStepForm($(this), {
    finish: function() {
    $("#createProjectStepFormProgress").hide();
    $("#createProjectStepFormContent").hide();
    $("#createProjectFinishBtn").show();
    }
    }).init();
    });

    // initialization of quick view popover
    $('#newProjectPopover').popover('show');

    $(document).on('click', '#closeNewProjectPopover' , function() {
    $('#newProjectPopover').popover('dispose');
    });


    // initialization select
    $('.js-select2-custom').each(function () {
    var select2 = $.HSCore.components.HSSelect2.init($(this));
    });



}
