﻿@using System.Security.Claims;

@{
    var data = ((ClaimsIdentity)User.Identity);
    var Usuario = data.FindFirst("User_Name").Value + " " + data.FindFirst("User_SurName").Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Asuntos Administrativos UNFV</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/unfv_logo_v1.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/vendor/icon-set/style.css">
    @*<link rel="stylesheet" href="https://unpkg.com/izitoast/dist/css/iziToast.min.css">*@
    <link rel="stylesheet" href="~/vendor/izitoast/css/iziToast.min.css">
    @RenderSection("styles", required: false)

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="~/css/theme.min.css" asp-append-version="true">

    <link href="~/vueJS/librerias/bootstrap-vue/bootstrap-vue.min.css?10" rel="stylesheet" />

    <title>@ViewData["Title"]</title>
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset" id="spinner">

    <div id="Layout">

        <!-- ========== HEADER ========== -->
        <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
            <div class="navbar-nav-wrap">
                <div class="navbar-brand-wrapper">
                    <!-- Logo -->
                    <a class="navbar-brand" href="#" aria-label="Front">
                        <img class="navbar-brand-logo" src="~/svg/logos/unfv_logo_v1.svg" alt="Logo">
                        <img class="navbar-brand-logo-mini" src="~/svg/logos/unfv_logo_v1.svg" alt="Logo">
                    </a>
                    <!-- End Logo -->
                </div>

                <div class="navbar-nav-wrap-content-left">
                    <!-- Navbar Vertical Toggle -->
                    <button type="button" class="js-navbar-vertical-aside-toggle-invoker close mr-3">
                        <i class="tio-menu-hamburger navbar-vertical-aside-toggle-short-align" data-toggle="tooltip" data-placement="right"></i>
                        <i class="tio-menu-left navbar-vertical-aside-toggle-full-align"
                           data-template='<div class="tooltip d-none d-sm-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                           data-toggle="tooltip" data-placement="right"></i>
                    </button>
                    <!-- End Navbar Vertical Toggle -->


                </div>

                <!-- Secondary Content -->
                <div class="navbar-nav-wrap-content-right">
                    <!-- Navbar -->
                    <ul class="navbar-nav align-items-center flex-row">
                        <li class="nav-item">
                            <!-- Activity -->
                            <span class="text-secondary">@Usuario</span>
                            <!-- Activity -->
                        </li>
                        <li class="nav-item">
                            <!-- Account -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker navbar-dropdown-account-wrapper" href="javascript:;"
                                   data-hs-unfold-options='{
                                       "target": "#accountNavbarDropdown",
                                       "type": "css-animation"
                                     }'>
                                    <div class="avatar avatar-sm avatar-circle">
                                        <img class="avatar-img" src="~/img/160x160/img1.jpg" alt="Image Description">
                                        <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                                    </div>
                                </a>

                                <div id="accountNavbarDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-account" style="width: 16rem;">
                                    <div class="dropdown-item">
                                        <div class="media align-items-center">
                                            <div class="avatar avatar-sm avatar-circle mr-2">
                                                <img class="avatar-img" src="~/img/160x160/img1.jpg" alt="Image Description">
                                            </div>
                                            <div class="media-body">
                                                <span class="card-title h5">@Usuario</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-divider"></div>
                                    @*<a class="dropdown-item" href="#">
                                            <span class="text-truncate pr-2" title="Profile &amp; account">Profile &amp; account</span>
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <span class="text-truncate pr-2" title="Settings">Settings</span>
                                        </a>

                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item" href="#">
                                            <span class="text-truncate pr-2" title="Manage team">Manage team</span>
                                        </a>

                                        <div class="dropdown-divider"></div>*@

                                    <a class="dropdown-item" v-on:click="LogOut">
                                        <span class="text-truncate pr-2" title="Cerrar sesión">Cerrar sesión</span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Account -->
                        </li>
                    </ul>
                    <!-- End Navbar -->
                </div>
                <!-- End Secondary Content -->
            </div>
        </header>
        <!-- ========== END HEADER ========== -->
        <!-- Navbar Vertical -->
        <aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered">
            <div class="navbar-vertical-container">
                <div class="navbar-vertical-footer-offset">
                    <div class="navbar-brand-wrapper justify-content-between">
                        <!-- Logo -->


                        <a class="navbar-brand" href="#" aria-label="Front">
                            <img class="navbar-brand-logo" src="~/svg/logos/unfv_logo_v1.svg" alt="Logo">
                            <img class="navbar-brand-logo-mini" src="~/svg/logos/unfv_logo_v1.svg" alt="Logo">
                        </a>

                        <!-- End Logo -->
                        <!-- Navbar Vertical Toggle -->
                        <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-vertical-aside-toggle btn btn-icon btn-xs btn-ghost-dark">
                            <i class="tio-clear tio-lg"></i>
                        </button>
                        <!-- End Navbar Vertical Toggle -->
                    </div>

                    <!-- Content -->
                    <div class="navbar-vertical-content" v-cloak>
                        <ul class="navbar-nav navbar-nav-lg nav-tabs">
                            <li class="nav-item">
                                @*<small class="nav-subtitle" title="Paginas">Páginas</small>*@
                                <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                            </li>


                            <li v-for="item in MenuUser" class="navbar-vertical-aside-has-menu show">

                                <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="Pages">
                                    <i class="tio-pages-outlined nav-icon"></i>
                                    <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">{{item.DisplayName}}</span>
                                </a>

                                <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                                    <li v-for="subItem in item.Module" class="nav-item">
                                        <a class="nav-link"
                                           v-bind="{href: `/${subItem.ControllerName}/${subItem.ActionName}`}"
                                           @*href="MemberAffiliation/Index"*@
                                           v-bind:title="subItem.DisplayName">
                                            <span class="tio-circle-outlined nav-indicator-icon"></span>
                                            <span class="text-truncate">{{subItem.DisplayName}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Front Builder -->
                            <li class="nav-item nav-footer-item ">
                                <a class="d-none d-md-flex js-hs-unfold-invoker nav-link nav-link-toggle" href="javascript:;"
                                   data-hs-unfold-options='{
                                   "target": "#styleSwitcherDropdown",
                                   "type": "css-animation",
                                   "animationIn": "fadeInRight",
                                   "animationOut": "fadeOutRight",
                                   "hasOverlay": true,
                                   "smartPositionOff": true
                                 }'>
                                    <i class="tio-tune nav-icon"></i>
                                </a>
                                <a class="d-flex d-md-none nav-link nav-link-toggle" href="javascript:;">
                                    <i class="tio-tune nav-icon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Content -->

                </div>
            </div>
        </aside>
        <!-- End Navbar Vertical -->
    </div>

    <main id="content" role="main" class="main splitted-content-main bg-light" style="padding-top: 3.75rem;">
        <!-- Content -->
        @RenderBody()
        <!-- End Content -->
        <!-- Footer -->
        <div class="footer">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <p class="font-size-sm mb-0"> Copyright  &copy; <span class="d-none d-sm-inline-block">@DateTime.Now.Year - UNFV.</span></p>
                </div>
                <div class="col-auto">
                    <div class="d-flex justify-content-end">
                        <!-- List Dot -->
                        <ul class="list-inline list-separator">


                            <li class="list-inline-item">
                                <!-- Keyboard Shortcuts Toggle -->
                                <div class="hs-unfold">
                                    <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
                                       data-hs-unfold-options='{
                                          "target": "#keyboardShortcutsSidebar",
                                          "type": "css-animation",
                                          "animationIn": "fadeInRight",
                                          "animationOut": "fadeOutRight",
                                          "hasOverlay": true,
                                          "smartPositionOff": true
                                         }'>
                                        <i class="tio-command-key"></i>
                                    </a>
                                </div>
                                <!-- End Keyboard Shortcuts Toggle -->
                            </li>
                        </ul>
                        <!-- End List Dot -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </main>

    <!-- ========== END MAIN CONTENT ========== -->
    <!-- JS Global Compulsory  -->
    <script src="~/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>

    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="~/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    @RenderSection("Plugins", required: false)

    <!-- JS Front -->
    <script src="~/js/theme.min.js"></script>
    <script src="~/vueJS/vue.min.js"></script>
    <script src="~/vueJS/librerias/veeValidate/vee-validate.min.js"></script>
    <script src="~/vueJS/librerias/veeValidate/es.js"></script>


    <script src="~/vueJS/librerias/bootstrap-vue/bootstrap-vue.min.js"></script>
    @*<script src="~/vueJS/librerias/bootstrap-vue/bootstrap-vue.min.js?10"></script>*@
    <script src="~/vueJS/librerias/axios/axios.min.js"></script>
    <script src="~/js/Layout/Layout.js" asp-append-version="true"></script>
    <script src="~/js/blockUI.js"></script>
    @*<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>*@
    @*<script src="~/js/SignalrFunction.js" asp-append-version="true"></script>*@
    @*<script src="https://unpkg.com/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>*@
    <script src="~/vendor/izitoast/js/iziToast.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)


    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {

            // initialization of unfold
            $('.js-hs-unfold-invoker').each(function () {
                var unfold = new HSUnfold($(this)).init();
            });

            setTimeout(function () {
                $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
                    $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
                });
                // initialization of navbar vertical navigation
                var sidebar = $('.js-navbar-vertical-aside').hsSideNav();

                // initialization of tooltip in navbar vertical menu
                $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

                $(".js-nav-tooltip-link").on("show.bs.tooltip", function (e) {
                    if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
                        return false;
                    }
                });
            }, 10);

            @RenderSection("documentOnReady", required: false)
        });
    </script>


</body>
</html>