﻿@section Styles {
    <link rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/flatpickr/dist/flatpickr.min.css">
    @*<link rel="stylesheet" href="https://unpkg.com/izitoast/dist/css/iziToast.min.css">*@
    <link rel="stylesheet" href="~/vendor/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="~/vueJS/librerias/waitMe-spinner/easy-loading.css" />
    <style>
        .table thead th {
            text-transform: none !important;
        }

        .turned-off {
            background-color: rgba(19,33,68,.1) !important;
            color: #132144 !important
        }

        .turned-off-span {
            color: #132144 !important
        }

        .turned-on {
            color: #fff !important;
            background-color: #002f87 !important;
        }

        .turned-on-span {
            color: #002f87 !important;
        }

        .truncateText {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        [v-cloak] {
            display: none
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }

            .video-container iframe, .video-container object, .video-container iframe embed, .video-container iframe img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
}


<div class="content container-fluid" id="CreateCompleteCategory" v-cloak-render>
    <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Categoria"> Categorías</a></li>
                <li class="breadcrumb-item active">{{categoryId === 0 ? 'Registrar categoria' : 'Detalle de la categoria'}}</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm p-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center ">
                    <h4 class="m-0">{{categoryId === 0 ? 'Registrar categoria' : 'Detalle de la categoria'}}</h4>
                </div>
            </div>
            <div class="col-sm-auto p-0" v-if="categoryId !== 0">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <h4 class="m-0 text-primary font-weight-bold"> Nro. {{categoryId}}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Body -->
            <div class="modal-body">


                <!-- Step Form -->
                <form class="js-step-form"
                      data-hs-step-form-options='{
                                "progressSelector": "#createProjectStepFormProgress",
                                "stepsSelector": "#createProjectStepFormContent",
                                "endSelector": "#createProjectFinishBtn",
                                "isValidate": false
                      }' data-vv-scope="formCreateCategory">
                    <!-- Step -->
                    <ul id="createProjectStepFormProgress" class="js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-7">
                        <li class="step-item">
                            <a class="step-content-wrapper" href="javascript:;">
                                <span class="step-icon step-icon-soft-dark" v-bind:class="'turned-on'">1</span>
                                <div class="step-content">
                                    <span class="step-title" v-bind:class="'turned-on-span'">Datos principales</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div id="createProjectStepFormContent">

                        <div id="createContratante" class="active">

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <label class="input-label">Descripción</label>
                                        <input type="text"
                                               class="form-control"
                                               name="address"
                                               v-model="descripcion"
                                               v-validate="'required'"
                                               v-bind:class="{'is-invalid': errors.has('formCreateClient.descripcion') }" />
                                        <span v-show="errors.has('formCreateCategory.descripcion')" class="text-danger text-left">{{errors.first('formCreateCategory.descripcion')}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end ml-auto">
                                <button id="createProject" type="button" class="btn btn-primary" v-on:click="save">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>



</div>

@section Plugins {
    <script src="~/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <script src="~/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/vueJS/librerias/waitMe-spinner/easy-loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.5/dist/sweetalert2.all.min.js"></script>
    @*<script src="https://unpkg.com/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>*@
    <script src="~/vendor/izitoast/js/iziToast.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>

}

@section Scripts {
    <script src="~/js/Categoria/CreateCategoria.js" asp-append-version="true"></script>
}

@section documentOnReady {



    // initialization date
    $('.js-flatpickr').each(function () {
    $.HSCore.components.HSFlatpickr.init($(this));
    })


    // initialization of step form
    $('.js-step-form').each(function () {
    var stepForm = new HSStepForm($(this), {
    finish: function() {
    $("#createProjectStepFormProgress").hide();
    $("#createProjectStepFormContent").hide();
    $("#createProjectFinishBtn").show();
    }
    }).init();
    });

    // initialization of quick view popover
    $('#newProjectPopover').popover('show');

    $(document).on('click', '#closeNewProjectPopover' , function() {
    $('#newProjectPopover').popover('dispose');
    });


    // initialization select
    $('.js-select2-custom').each(function () {
    var select2 = $.HSCore.components.HSSelect2.init($(this));
    });



}
