﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://unpkg.com/izitoast/dist/css/iziToast.min.css">*@
    <link rel="stylesheet" href="~/vendor/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="~/vueJS/librerias/waitMe-spinner/easy-loading.css" />
    <style>
        .table thead th {
            text-transform: none !important;
        }

        .table-vigente, .table-vigente > td, .table-vigente > th {
            vertical-align: middle !important;
        }

        .table-suspension, .table-suspension > td, .table-suspension > th {
            background-color: #f2f89f;
            vertical-align: middle !important;
        }

            .table-suspension tbody + tbody, .table-suspension td, .table-suspension th, .table-suspension thead th {
                border-color: #e6f140;
            }

            .table-suspension, .table-suspension > td, .table-suspension > th {
                background-color: #f2f89f;
            }
    </style>
}

<div class="content container-fluid" id="Category" v-cloak-render>

    <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item active">Categoría</li>
            </ol>
        </nav>
    </div>


    <div class="card">
        <div class="card-header justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm p-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center ">
                    <h4 class="m-0">Mantenimiento de la Categoría</h4>
                </div>
            </div>
            <div class="col-sm-auto pr-2">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <button v-if="NamesRoles.some(x => x.Name === 'Vendedor EPS' || x.Name === 'Administrador' || x.Name === 'Agente Comercial')"
                            class="btn btn-primary btn-block btn-sm"
                            v-on:click="newCategory">
                        <i class="tio-add"></i> Registrar categoría
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                @*<div class="col-md-4 col-sm-12">
                    <div class="form-group mb-2 sm">
                        <label class="input-label mb-1">Fecha de registro</label>
                        <input type="text" id="creationDate" class="js-daterangepicker form-control">
                    </div>
                </div>*@
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2 sm">
                        <label class="input-label mb-1">Descripción</label>
                        <input type="text" class="form-control" v-model="description">
                    </div>
                </div>

                <div class="col-md-2 col-sm-12">
                    <div class="form-group mb-2">
                        <button id="BtnBuscarEmpresa" v-on:click="GetAllCategoryPaginate(0)" class="btn btn-primary btn-block">
                            <i class="tio-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-12">
                    <br />
                    <template>
                        <div class="table-responsive">
                            <b-table class="table table-hover"
                                     :fields="columnsTable"
                                     :items="salesList"
                                     :current-page="1"
                                     :per-page="perPage">

                                <template slot="opciones" slot-scope="row">

                                    <b-dropdown size="sm"
                                                boundary="window"
                                                variant="link"
                                                toggle-class="text-decoration-none"
                                                no-caret>
                                        <template slot="button-content">
                                            <i class="tio-settings text-secondary"></i>
                                        </template>
                                        <b-dropdown-item class="text-primary" v-on:click="categoryDetail(row.item)">
                                            <i class="tio-search"></i>
                                            <a>Ver detalle </a>
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-on:click="ChangeStatusCategory(row.item, 'enviado')"
                                                         v-if="(row.item.Estado == 'Activo')">
                                            <i class="tio-remove-from-trash"></i>
                                            <a>Deshabilitar</a>
                                        </b-dropdown-item>

                                        <b-dropdown-item class="text-primary"
                                                         v-on:click="ChangeStatusCategory(row.item, 'enviado')"
                                                         v-if="(row.item.Estado != 'Activo')">
                                            <i class="tio-checkmark-square"></i>
                                            <a>Habilitar</a>
                                        </b-dropdown-item>
                                    </b-dropdown>
                                </template>
                            </b-table>
                        </div>
                        <b-row v-if="searching" class="vh-50 text-center" align-h="center">
                            <div class="text-center text-secondary my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Cargando...</strong>
                            </div>
                        </b-row>
                        <b-row v-if="withoutResults" class="vh-50 text-center" align-h="center">
                            <div class="text-center text-secondary my-2">
                                <strong>No hay resultados</strong>
                            </div>
                        </b-row>

                        <hr class="my-2" />

                        <b-row class="row justify-content-center justify-content-sm-between align-items-sm-center">

                            <div class="col-sm mb-2 mb-sm-0">
                                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                    <span class="mr-2">Mostrar:</span>
                                    <select id="datatableEntries"
                                            class="js-select2-custom"
                                            data-hs-select2-options='{
                                            "minimumResultsForSearch": "Infinity",
                                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                                            "dropdownAutoWidth": true,
                                            "width": true
                                          }'
                                            v-model="perPage"
                                            v-select="perPage"
                                            v-on:change="GetAllCategoryPaginate()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                    <span class="text-secondary mr-2">registros</span>
                                </div>
                            </div>

                            <div class="col-sm-auto">
                                <div class="d-flex justify-content-center justify-content-sm-end">
                                    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" v-on:change="GetAllCategoryPaginate">
                                    </b-pagination>
                                </div>
                            </div>
                        </b-row>
                    </template>
                </div>
            </div>
        </div>
    </div>
   
    <advanced-create-plotpreaffiliation v-bind:Data="SaleData"></advanced-create-plotpreaffiliation>
    <placement-change-status v-on:click="GetAllCategoryPaginate" v-bind:Data="SaleData"></placement-change-status>
</div>


@section Plugins {

    <script src="~/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <script src="~/vendor/hs-file-attach/dist/hs-file-attach.js"></script>
    <script src="~/vueJS/librerias/waitMe-spinner/easy-loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.5/dist/sweetalert2.all.min.js"></script>
    @*<script src="https://unpkg.com/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>*@
    <script src="~/vendor/izitoast/js/iziToast.min.js" type="text/javascript"></script>
}

@section Scripts {

    <script src="~/js/Components/advanced-Create-PlotPreAffiliation.js" asp-append-version="true"></script>
    <script src="~/js/Components/placement-Change-Status.js" asp-append-version="true"></script>
    <script src="~/js/Categoria/Categoria.js" asp-append-version="true"></script>
}

@section documentOnReady {

    // initialization select
    $('.js-select2-custom').each(function () {
    var select2 = $.HSCore.components.HSSelect2.init($(this));
    });

    // initialization of daterangepicker
    $('.js-daterangepicker').each(function () {
    var d = $.HSCore.components.HSDaterangepicker.init($(this));
    });


    var dateNow = new Date();
    var initDate = new Date(dateNow.getFullYear(), dateNow.getMonth() - 2, 1);
    var endDate = new Date(dateNow.getFullYear(), dateNow.getMonth() + 1, 0);

    $("#creationDate").daterangepicker({
    "startDate": initDate,
    "endDate": endDate,
    locale: {
    format: 'DD/MM/YYYY',
    applyLabel: 'Aplicar',
    cancelLabel: 'Limpiar',
    fromLabel: 'Desde',
    toLabel: 'Hasta',
    customRangeLabel: 'Seleccionar rango',
    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
    'Diciembre'],
    firstDay: 1
    }
    });



    // initialization of step form
    $('.js-step-form').each(function () {
    var stepForm = new HSStepForm($(this), {
    finish: function() {
    $("#createProjectStepFormProgress").hide();
    $("#createProjectStepFormContent").hide();
    $("#createProjectStepSuccessMessage").show();
    }
    }).init();
    });

    // initialization of quick view popover
    $('#newProjectPopover').popover('show');

    $(document).on('click', '#closeNewProjectPopover' , function() {
    $('#newProjectPopover').popover('dispose');
    });

    $('#newRechazoModal').on('show.bs.modal', function() {
    $('#newProjectPopover').popover('dispose');
    });

    // INITIALIZATION OF CUSTOM FILE
    // =======================================================
    $('.js-file-attach').each(function () {
    var customFile = new HSFileAttach($(this)).init();
    });


}
