﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar sesión</title>
    <link rel="shortcut icon" href="~/unfv_logo_v1.ico">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/icon-set/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/theme.min.css" asp-append-version="true">

    <style>
        [v-cloak-login] {
            display: none;
        }
    </style>
</head>

<body class="d-flex align-items-center min-h-100">
    <!-- ========== HEADER ========== -->
    <header class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
        <div class="d-flex d-lg-none justify-content-between">
            <a href="#">
                @*<img class="w-100" src="~/svg/logos/Logo_Sanitas.svg" alt="Logo" style="min-width: 8rem; max-width: 8rem;">*@
            </a>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->
    
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main pt-0">
        <!-- Content -->
        <div class="container-fluid px-3" id="logInForm">
            <div class="row" v-cloak-login>
               
                <!-- Cover -->
                <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0"
                     style=" background-image: url('../img/fondo_fiis.jpg'); opacity: 0.8; background-repeat: no-repeat; background-size: cover;">
                    <!-- Logo & Language -->
                    <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
                        <div class="d-none d-lg-flex justify-content-between">
                            <a href="index.html">
                                @*<img class="w-100" src="~/svg/logos/logo_fiis_blanco.svg" alt="Logo" style="min-width: 8rem; max-width: 8rem;">*@
                            </a>
                        </div>
                    </div>

                </div>
                <!-- End Cover -->

                <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
                    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;" >
                        <!-- Form -->
                        <form data-vv-scope="formLogin">
                            <div class="text-center mb-5">
                                <div class="avatar-centered" style="height:100px; width:100px;">
                                    <img class="avatar-img" src="~/svg/logos/logo_fiis.svg" alt="Logo">
                                </div>
                                <h1 class="display-4">SISTEMA DE DONACIONES - UNFV</h1>
                            </div>

                            <div v-if="showError" class="alert alert-soft-danger" role="alert">
                                Las credenciales no son correctas o no cuenta con el perfil correcto.
                            </div>
                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label display-4" for="User">Usuario</label>
                                <input tabindex="99"
                                       type="text"
                                       class="form-control form-control-lg"
                                       placeholder="Ingrese usuario"
                                       name="User"
                                       v-model="User"
                                       v-validate="'required'"
                                       v-bind:class="{'is-invalid': errors.has('formLogin.User')}">
                                <span v-show="errors.has('formLogin.User')" class="text-danger text-left">{{errors.first('formLogin.User')}}</span>
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label display-4" for="signupSrPassword" tabindex="0">
                                    <span class="d-flex justify-content-between align-items-center">
                                        Contraseña
                                    </span>
                                </label>

                                <div class="input-group input-group-merge">
                                    <input tabindex="100"
                                           type="password"
                                           class="js-toggle-password form-control form-control-lg"
                                           name="Password"
                                           id="signupSrPassword"
                                           placeholder="Ingrese contraseña"
                                           data-hs-toggle-password-options='{
                                             "target": "#changePassTarget",
                                             "defaultClass": "tio-hidden-outlined",
                                             "showClass": "tio-visible-outlined",
                                             "classChangeTarget": "#changePassIcon"
                                           }'
                                           v-model="Password"
                                           v-validate="'required|min:8'"
                                           v-bind:class="{'is-invalid': errors.has('formLogin.Password')}"
                                           v-on:keyup.enter="logIn">
                                    <div id="changePassTarget" class="input-group-append">
                                        <a class="input-group-text" href="javascript:;">
                                            <i id="changePassIcon" class="tio-visible-outlined"></i>
                                        </a>
                                    </div>
                                </div>
                                <span v-show="errors.has('formLogin.Password')" class="text-danger text-left">{{errors.first('formLogin.Password')}}</span>
                            </div>


                            <button type="button" class="btn btn-lg btn-block btn-primary" v-on:click="logIn" v-bind:disabled="LoadingLogin">
                                <span v-if="LoadingLogin" class="spinner-grow spinner-grow-sm" style="vertical-align:middle;" role="status" aria-hidden="true"></span>
                                Ingresar
                            </button>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Content -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- JS Global Compulsory  -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>

    <!-- JS Front -->
    <script src="~/js/theme.min.js"></script>

    <!--Vue files -->
    <script src="~/vueJS/vue.min.js"></script>
    <script src="~/vueJS/librerias/axios/axios.min.js"></script>
    <script src="~/vueJS/librerias/veeValidate/vee-validate.min.js"></script>
    <script src="~/vueJS/librerias/veeValidate/es.js"></script>
    <script src="~/js/Login/Login.js" asp-append-version="true"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of Show Password
            $('.js-toggle-password').each(function () {
                new HSTogglePassword(this).init()
            });
        });
    </script>
</body>
</html>